body {
    font-family: "Noto Sans JP";
}

.top-heading {
    background-color: #FA54F4;
    color: white;
    padding:0.5rem 1rem;
    margin: 4rem auto 1rem auto;
    width: fit-content;
    border-radius: 0.3rem; /*丸みを持たせる*/
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 0.5rem;
}
.button {
    border-radius: 0.2rem;
    padding: 0.3rem;
}

.btn-primary {
    background-color: #fdfdfdee;
    color: #7122fa;
    border: solid 0.15rem #7122fa;
}
.btn-primary:hover {
    background-color: #F148FB;
    border: solid 0.15rem #7122fa;
}